func (s *{{ .Service }}ServerType) BatchUpdate{{ .ResourceNamePlural }}(ctx context.Context, req *{{ .ImportAlias }}.BatchUpdate{{ .ResourceNamePlural }}Request) (*{{ .ImportAlias }}.BatchUpdate{{ .ResourceNamePlural }}Response, error) {
	{{ if .HasPolicies }}
	// Create new IAM authorizer
	az, ctx, err := Iam.NewAuthorizer(ctx)
	if err != nil {
		return nil, status.Errorf(codes.Internal, "failed to create authorizer: %s", err.Error())
	}
	// Add user's policy to the authorizer
	az.AddIdentityPolicy()
    {{ end }}

	// VALIDATION
	validator := validation.NewValidator()
    {{ if .HasParent }}
	validator.String("parent", req.GetParent()).IsPopulated().Matches(regex.{{ .ParentResourceName }})
	{{ end }}
	validator.MessageIsPopulated("requests", req.GetRequests() != nil)
	for i, request := range req.GetRequests() {
		validator.MessageIsPopulated(fmt.Sprintf("requests[%d]", i), request != nil)
		validator.MessageIsPopulated(fmt.Sprintf("requests[%d].{{ .ResourceId }}", i), request.Get{{ .ResourceName }}() != nil)
		validator.String(fmt.Sprintf("requests[%d].{{ .ResourceId }}.name", i), request.Get{{ .ResourceName }}().GetName()).IsPopulated().Matches(regex.{{ .ResourceName }})
		// TODO: Add more validation rules here
	}
	// TODO: Add more validation rules here
	if err := validator.Validate(); err != nil {
		return nil, status.Error(codes.InvalidArgument, err.Error())
	}

	{{ if .HasParent }}
	// Ensure all requests have the same parent
    for _, request := range req.GetRequests() {
		if !strings.HasPrefix(request.Get{{ .ResourceName }}().GetName(), req.GetParent()+"/") {
			return nil, status.Errorf(codes.InvalidArgument, "all requests must have the same parent: %s", req.GetParent())
		}
    }
	{{ end }}

	{{ if .HasPolicies }}
    {{ if .HasParent }}
	// Get the parent policy
	parentPolicy, err := s.GetIamPolicy(ctx, &iampb.GetIamPolicyRequest{
		Resource: req.GetParent(),
	})
	if err != nil && status.Code(err) != codes.NotFound {
		return nil, err
	}
	// Add parent policy to the authorizer
	az.AddPolicy(parentPolicy)
    {{ end }}
	if err = az.AuthorizeRpc(); err != nil {
		return nil, err
	}
    {{ end }}


	// Get the names of the resources to be updated
	names := utils.Transform(req.GetRequests(), func(request *{{ .ImportAlias }}.Update{{ .ResourceName }}Request) string {
		return request.Get{{ .ResourceName }}().GetName()
	})
	// Read the resources from the database
	rows, _, err := db.{{ .ResourceNamePlural }}.BatchRead(ctx, names)
	if err != nil {
		return nil, err
	}

    // Create a map to hold the resource rows
	resourcesMap := make(map[string]database.ResourceRow[*{{ .ImportAlias }}.{{ .ResourceName }}])
	for _, row := range rows {
		if row == nil || row.GetResource() == nil {
			continue
		}

        {{ if .HasPolicies }}
		// Check if the requester has access to this resource
		if !az.HasAccess({{ .ImportAlias }}.{{ .Service }}_Update{{ .ResourceName }}_FullMethodName, row.GetPolicy()) {
			return nil, status.Errorf(codes.PermissionDenied, "you do not have permission to update resource %s", row.GetResource().GetName())
		}
        {{ end }}

        // Add the row to the map
		resourcesMap[row.GetResource().GetName()] = row
	}

	// Create a slice to hold the requests for creating missing resources
	var createResourceReqs []*{{ .ImportAlias }}.Create{{ .ResourceName }}Request

    // Create a slice to hold the resources and policies to be updated
	var resourceNames []string
	var resources []*{{ .ImportAlias }}.{{ .ResourceName }}
	var policies []*iampb.Policy

    // Iterate over the requests and update or create resources as needed
	for _, request := range req.GetRequests() {
		row := resourcesMap[request.Get{{ .ResourceName }}().GetName()]
		if row == nil {
            // If the resource does not exist, check if allow_missing is set
			if !req.GetAllowMissing() && !request.GetAllowMissing() {
				return nil, status.Errorf(codes.NotFound, "resource not found: %s", request.Get{{ .ResourceName }}().GetName())
			}

            // If allow_missing is set, create a new resource
			createResourceReqs = append(createResourceReqs, &{{ .ImportAlias }}.Create{{ .ResourceName }}Request{
				{{ .ResourceName }}: request.Get{{ .ResourceName }}(),
			})

			continue
		}

		// Ensure delete_time is not updated
		for _, path := range request.GetUpdateMask().GetPaths() {
			if strings.HasPrefix(path, "delete_time") {
				return nil, status.Errorf(codes.FailedPrecondition, "delete_time is output only")
			}
		}

		// Ensure etags match
		if row.GetResource().GetEtag() != request.Get{{ .ResourceName }}().GetEtag() {
			return nil, status.Errorf(codes.FailedPrecondition, "etag does not match for resource %s", row.GetResource().GetName())
		}

		// Merge fields from the request into the existing resource
		row.Merge(request.Get{{ .ResourceName }}(), request.GetUpdateMask().GetPaths()...)
		// Set new update time
		row.GetResource().UpdateTime = timestamppb.Now()
		// Set etag
		row.GetResource().Etag = uuid.New().String()

		// Append the resource and policy to the respective lists
		resourceNames = append(resourceNames, row.GetResource().GetName())
		resources = append(resources, row.GetResource())
		policies = append(policies, row.GetPolicy())
	}

	// Create missing resources if any
	if len(createResourceReqs) > 0 {
		_, err := s.BatchCreate{{ .ResourceNamePlural }}(ctx, &{{ .ImportAlias }}.BatchCreate{{ .ResourceNamePlural }}Request{
            {{ if .HasParent }}
			Parent: req.GetParent(),
			{{ end }}
			Requests: createResourceReqs,
		})
		if err != nil {
			return nil, err
		}
	}

	// Write the resources to the database
	updatedRows, err := db.{{ .ResourceNamePlural }}.BatchWrite(ctx, resourceNames, resources, policies)
	if err != nil {
		return nil, err
	}

	// Get the updated resources
	updatedResources := utils.Transform(updatedRows, func(row database.ResourceRow[*pb.{{ .ResourceName }}]) *pb.{{ .ResourceName }} {
		return row.GetResource()
	})

	{{ if .HasRevisions }}
	// Create a new revision for each updated resource
	for _, resource := range updatedResources {
		if _, err := s.Create{{ .ResourceName }}Revision(ctx, &pb.Create{{ .ResourceName }}RevisionRequest{
			Parent: resource.GetName(),
			{{ .ResourceName }}Revision: &pb.{{ .ResourceName }}Revision{
				Snapshot: resource,
			},
		}); err != nil {
			return nil, err
		}
	}
	{{ end }}

	// Return the updated resources
	return &{{ .ImportAlias }}.BatchUpdate{{ .ResourceNamePlural }}Response{
		{{ .ResourceNamePlural }}: updatedResources,
	}, nil
}