func (s *{{ .Service }}ServerType) Get{{ .ResourceName }}(ctx context.Context, req *{{ .ImportAlias }}.Get{{ .ResourceName }}Request) (*{{ .ImportAlias }}.{{ .ResourceName }}, error) {
	{{ if .HasPolicies }}
	// Create new IAM authorizer
	az, ctx, err := Iam.NewAuthorizer(ctx)
	if err != nil {
		return nil, status.Errorf(codes.Internal, "failed to create authorizer: %s", err.Error())
	}
    // Add user's policy to the authorizer
	az.AddIdentityPolicy()
    {{ end }}

	// VALIDATION
	validator := validation.NewValidator()
	validator.String("name", req.GetName()).IsPopulated().Matches(regex.{{ .ResourceName }})
	if err := validator.Validate(); err != nil {
		return nil, status.Error(codes.InvalidArgument, err.Error())
	}

	{{ if .HasPolicies }}
    {{ if .HasParent }}
	// Get the parent policy
	{{ .ResourceId }}Namer, err := namers.{{ .ResourceName }}(req.GetName())
	if err != nil {
		return nil, status.Errorf(codes.InvalidArgument, "invalid parent resource name: %s", err.Error())
	}
	parentPolicy, err := s.GetIamPolicy(ctx, &iampb.GetIamPolicyRequest{
		Resource: {{ .ResourceId }}Namer.{{ .ParentResourceName }}(),
	})
	if err != nil && status.Code(err) != codes.NotFound {
		return nil, err
	}
	// Add parent policy to the authorizer
	az.AddPolicy(parentPolicy)
	{{ end }}
    {{ end }}

	// READ MASK
	readMask := req.GetReadMask()

	// If read mask is not provided, use view settings
	// If the view is not set, default to BASIC view
	if len(readMask.GetPaths()) == 0 {
		var err error
		readMask, err = fieldmaskpb.New(&{{ .ImportAlias }}.{{ .ResourceName }}{}, "name", "etag")
		if err != nil {
			return nil, status.Errorf(codes.InvalidArgument, "invalid field mask: %s", err.Error())
		}
		// If the view is FULL, no read mask is applied
		if req.GetView() == {{ .ImportAlias }}.{{ .ResourceName }}View_{{ .ResourceNameUppercase }}_VIEW_FULL {
			readMask.Paths = []string{}
		}
	}

	// Read the resource from the database
	row, err := db.{{ .ResourceNamePlural }}.Read(ctx, req.GetName())
	if err != nil {
		return nil, err
	}

    {{ if .HasPolicies }}
	// Check if the requester has access to this resource
	az.AddPolicy(row.GetPolicy())
	if !az.HasAccess({{ .ImportAlias }}.{{ .Service }}_Get{{ .ResourceName }}_FullMethodName) {
		return nil, status.Errorf(codes.PermissionDenied, "you do not have permission to access this resource")
	}
    {{ end }}

	// Apply read mask to the row
	if err := row.ApplyReadMask(readMask); err != nil {
		return nil, err
	}

	return row.GetResource(), nil
}