package main

import (
	"bytes"
	"context"
	"errors"
	"fmt"
	"io"
	"slices"
	"strings"

	"cloud.google.com/go/iam/apiv1/iampb"
	"github.com/google/uuid"
	"go.alis.build/sproto"
	"go.alis.build/utils"
	"go.alis.build/validation"
	"google.golang.org/grpc/codes"
	"google.golang.org/grpc/status"
	"google.golang.org/protobuf/types/known/emptypb"
	"google.golang.org/protobuf/types/known/fieldmaskpb"
	"google.golang.org/protobuf/types/known/timestamppb"
	openIam "open.alis.services/protobuf/alis/open/iam/v1"
    {{ range .Imports }}
      {{- if .Alias }}{{ .Alias }}{{- end }}{{- if .Alias }}{{ " " }}{{- end }}"{{ .ImportPath }}"
    {{ end }}
)

type {{ .Service }}ServerType struct {
	{{ .ServiceImportAlias }}.Unimplemented{{ .Service }}Server
}

var {{ .Service }}Server = &{{ .Service }}ServerType{}

{{ range .Methods }}
{{ .Method }}
{{ end }}

