func (s *{{ .Service }}ServerType) SetIamPolicy(ctx context.Context, req *iampb.SetIamPolicyRequest) (*iampb.Policy, error) {
	// Create new IAM authorizer
	az, ctx, err := Iam.NewAuthorizer(ctx)
	if err != nil {
		return nil, status.Errorf(codes.Internal, "failed to create authorizer: %s", err.Error())
	}
	az.AddIdentityPolicy()

	// Get the resource's policy
	policy, err := s.GetIamPolicy(ctx, &iampb.GetIamPolicyRequest{Resource: req.GetResource()})
	if err != nil {
		return nil, err
	}

	// Check access to Set IAM Policy
	az.AddPolicy(policy)
	err = az.AuthorizeRpc()
	if err != nil {
		return nil, err
	}

	// Ensure etags are set and match
	if req.GetPolicy().GetEtag() == nil {
		return nil, status.Errorf(codes.InvalidArgument, "etag must be set")
	}
	if !bytes.Equal(req.GetPolicy().GetEtag(), policy.GetEtag()) {
		return nil, status.Errorf(codes.FailedPrecondition, "etag mismatch")
	}

	// Set new etag
	req.GetPolicy().Etag = []byte(uuid.New().String())

	// Write the new policy to the database
    {{- range .Resources }}
	{{- if .HasPolicies }}
	if regex.{{ .ResourceName }}RegExp.MatchString(req.GetResource()) {
		if err = db.{{ .ResourceNamePlural }}.WritePolicy(ctx, req.GetResource(), req.GetPolicy()); err != nil {
			return nil, status.Errorf(codes.Internal, "failed to write policy: %s", err.Error())
		}
	}
	{{- end }}
    {{- end }}


	return req.GetPolicy(), nil
}